<section class="container criar-cursos ff-inter">

  <header class="header">
    <h2>Frameworks Web</h2>
  </header>

  <main>

    <article>
      <h3>Atividade 1</h3>

      <form class="form" action="" (ngSubmit)="somar1ate100()">
        <label for="somar">-> Somar valores de 1 até 100</label>
        <button id="somar" type="submit" class="botao" onClick="somar1ate100()">SOMAR</button>
      </form>

      <div class="modelo modelo1 ff-roboto-mono">
        <p class="resultado">{{ atividade1.resultado }}</p>
        <p class="resultado">{{ atividade1.subtitulo }}</p>
      </div>
    </article>

    <article>
      <h3>Atividade 2</h3>

      <form class="form" action="" (ngSubmit)="calcularNumeroDeNotasPorValor()">
        <label>-> Caixa Eletrônico</label>
        <label for="valor">Informe o valor do saque:</label>
        <input id="valor" type="text" class="input" placeholder="digite o valor" [(ngModel)]="valor" name="valor" >
        <button id="botao-a2" type="submit" class="botao" onClick="calcularNumeroDeNotasPorValor()">SACAR</button>
      </form>

      <div class="modelo modelo1 ff-roboto-mono">
        <p class="resultado">{{ atividade2.resultado }}</p>
        <p class="resultado">{{ atividade2.subtitulo }}</p>

        <label for="notaUmReal"> R$ 1,00 </label>
        <input id="notaUmReal" type="text" [(ngModel)]="atividade2.umReal">

        <label for="notaDoisReais">R$ 2,00 </label>
        <input id="notaDoisReais" type="text" [(ngModel)]="atividade2.doisReais">

        <label for="notaCincoReais">R$ 5,00 </label>
        <input id="notaCincoReais" type="text" [(ngModel)]="atividade2.cincoReais">

        <label for="notaDezReais">R$ 10,00 </label>
        <input id="notaDezReais" type="text" [(ngModel)]="atividade2.dezReais">

        <label for="notaVinteReais">R$ 20,00 </label>
        <input id="notaVinteReais" type="text" [(ngModel)]="atividade2.vinteReais">

        <label for="notaCinquentaReais">R$ 50,00 </label>
        <input id="notaCinquentaReais" type="text" [(ngModel)]="atividade2.cinquentaReais">

        <label for="notaCemReais">R$ 100 </label>
        <input id="notaCemReais" type="text" [(ngModel)]="atividade2.cemReais">
      </div>
    </article>

  </main>

</section>
