<section class="container criar-cursos ff-inter">

  <header class="header">
    <h2>Frameworks Web</h2>
  </header>

  <main>

    <article>
      <h3>Atividade 1</h3>

      <form class="form" action="">
        <label for="">Somar valores de 1 até 100</label>
        <button id="" type="button" class="botao" onClick="calcular()">CALCULAR</button>
      </form>

      <div class="modelo modelo1 ff-roboto-mono">
        <p class="resultado">{{ criarAtividade2.resultado }}</p>
      </div>
    </article>

    <article>
      <h3>Atividade 2</h3>

      <form class="form" action="">
        <label>Caixa Eletrônico</label>
        <label for="a2-pergunta1">Quanto deseja sacar?</label>
        <input id="a2-pergunta1" name="a2-pergunta1" type="textarea" class="input" placeholder="digite o valor">
        <button id="a2-botao" type="button" class="botao" onClick="sacar()">SACAR</button>
      </form>

      <div class="modelo modelo1 ff-roboto-mono">
        <p class="resultado">{{ criarAtividade2.resultado }}</p>
      </div>
    </article>

  </main>

</section>
