<section>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sobre a Portfólio</h5>
          <p class="grey-text text-lighten-4">Somos uma aplicação para gerenciamento de certificados de cursos para construção de portfólio.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Contatos</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Política de Privacidade</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Termos do Serviço</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © {{ ano }} Junior Martins - Direitos Reservados. <!-- Interpolation -->
      </div>
    </div>
  </footer>
</section>

