<section class="container">

  <div class="row"></div>
  <div class="row blue-grey darken-1 hoverable center-align white-text">

    <div class="row">
      <h3><i class="material-icons">security</i> {{ chapeus.login }}</h3> <!-- Interpolation -->
    </div>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" name="login" [(ngModel)]="usuario.login"> <!-- Two-way Binding -->
          <label for="icon_prefix">Login</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">https</i>
          <input id="icon_password" type="password" class="validate" name="senha" [(ngModel)]="usuario.senha"> <!-- Two-way Binding -->
          <label for="icon_password">Senha</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button (click)="salvarLoginLocalStorage()" type="button" class="waves-effect waves-light btn-small"><i class="material-icons left">save</i>Entrar</button> <!-- Event Binding -->
        </div>
      </div>
      <div class="row">
        <a class="col s12 right-align text-lighten-3">Cadastrar-se!</a>
      </div>
    </form>

  </div>

</section>
