<section class="container">

  <header class="container">
    <div class="">
      <input type="search" placeholder="O que procuras?" autofocus [(ngModel)]="filtro" (keyup)="pesquisarCursos()"> <!-- Two Way Binding -->
    </div>
  </header>
  <div *ngIf="this.listaDeCursos.length > 0, else semCursos">
      <h2 class="black-text center-align"><i class="material-icons">list</i> Listar Cursos </h2>
      <div *ngFor="let curso of listaDeCursos">
        <app-item-cursos [curso]="curso"></app-item-cursos>
      </div>
  </div>

  <app-botao-carregar-mais-itens [existemMaisCursos]="existemMaisCursos" (click)="carregarMaisCursos()"></app-botao-carregar-mais-itens>

</section>

<ng-template #semCursos>
  <div class="center-align">
    <h1 class="black-text">Nenhun curso cadastrado!</h1>
  </div>
</ng-template>

