<section class="container">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div *ngIf="this.listaDeCursos.length > 0, else semCursos">
      <h2 class="black-text center-align">Listar Cursos</h2>
      <div *ngFor="let curso of listaDeCursos">
        <app-item-cursos [curso]="curso"></app-item-cursos>
      </div>
  </div>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</section>

<ng-template #semCursos>
  <div class="center-align">
    <h1 class="black-text">Nenhun curso cadastrado!</h1>
  </div>
</ng-template>
