<section class="container">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class=""> <!-- class="container" -->
    <div class=""> <!--  class="grid-example" [ngClass]="larguraCardCurso()" -->
      <div class="card blue-grey darken-1 hoverable">
        <div class="card-content white-text">
          <span class="card-title center-align">Curso</span>
          <div class="left-align">
            <p> {{ curso.titulo }} </p>
            <p> {{ curso.instituicao }} </p>
            <p> {{ curso.dataConclusao }} </p>
            <p> {{ curso.cargaHoraria }} </p>
            <p> {{ curso.link }} </p>
          </div>
        </div>
        <div class="card-action right-align">
          <button (click)="editarCadastroDoCurso()" type="button" class="waves-effect waves-light btn-large"> <i class="material-icons">edit</i> </button> <!-- Event Binding -->
          <button (click)="detalharCadastroDoCurso()" type="button" class="waves-effect waves-light btn-large"> <i class="material-icons">zoom_in</i> </button> <!-- Event Binding -->
          <button (click)="deletarCadastroDoCurso()" type="button" class="waves-effect waves-light btn-large"> <i class="material-icons">delete</i> </button> <!-- Event Binding -->
        </div>
      </div>
    </div>
  </div>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</section>



