<section class="container">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class=""> <!-- class="container" -->
    <div class=""> <!--  class="grid-example" [ngClass]="larguraCardCurso()" -->
      <div class="card blue-grey darken-1 hoverable">
        <div class="card-content white-text">
          <span class="card-title center-align">Curso</span>
          <div class="left-align">
            <p> <span class="deep-orange-text">ID:</span> {{ this.curso.id }} </p> <!-- Interpolation -->
            <p> <span class="deep-orange-text">Título:</span> {{ this.curso.titulo }} </p> <!-- Interpolation -->
            <p> <span class="deep-orange-text">Instituição:</span> {{ this.curso.instituicao }} </p> <!-- Interpolation -->
            <p> <span class="deep-orange-text">Data de Conclusão:</span> {{ this.curso.dataConclusao }} </p> <!-- Interpolation -->
            <p> <span class="deep-orange-text">Carga Horária:</span> {{ this.curso.cargaHoraria }} </p> <!-- Interpolation -->
            <p> <span class="deep-orange-text">Preço:</span> {{ this.curso.preco }} </p> <!-- Interpolation -->
            <p> <span class="deep-orange-text">Link da certificação:</span> {{ this.curso.link }} </p> <!-- Interpolation -->
          </div>
        </div>
        <div class="card-action right-align">
          <button type="button" class="waves-effect waves-light btn-large" routerLink="/especificos/editarCurso/{{this.curso.id}}"> <i class="material-icons">edit</i> </button>
          <button (click)="detalharCadastroDoCurso()" type="button" class="waves-effect waves-light btn-large"> <i class="material-icons">zoom_in</i> </button> <!-- Event Binding -->
          <button type="button" class="waves-effect waves-light btn-large" routerLink="/especificos/excluirCurso/{{this.curso.id}}"> <i class="material-icons">delete</i> </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</section>



