<section class="white">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class="container">

    <div class="row">
      <form action="" class="col s12">
        <h2 class="center-align"><i class="material-icons">school</i> {{ chapeus.formulario }} </h2> <!-- Interpolation -->

        <div class="row">
          <label for="titulo"> Titulo: </label>
          <div class="input-field col s12">
            <input id="titulo" class="" type="text" placeholder="Digitar nome" name="modelo-card" [(ngModel)]="curso.titulo"> <!-- Two-way Binding -->
          </div>
        </div>

        <div class="row">
          <label for="instituicao"> Instituição: </label>
          <div class="input-field col s12">
            <input id="instituicao" class="" type="text" placeholder="Digitar nome" name="modelo-card" [(ngModel)]="curso.instituicao"> <!-- Two-way Binding -->
          </div>
        </div>

        <div class="row">
          <label for="cargaHoraria"> Carga Horária: </label>
          <div class="input-field col s12">
            <input id="cargaHoraria" class="" type="number" name="modelo-card" [(ngModel)]="curso.cargaHoraria"> <!-- Two-way Binding -->
          </div>
        </div>

        <div class="row">
          <label for="dataConclusao"> Data de Conclusão: </label>
          <div class="input-field col s12">
             <input id="dataConclusao" class="" type="date" name="modelo-card" [(ngModel)]="curso.dataConclusao"> <!-- Two-way Binding -->
          </div>
        </div>

        <div class="row">
            <label for="preco"> Preço: </label>
            <div class="input-field col s12">
              <input id="preco" class="" type="text" name="modelo-card" [(ngModel)]="curso.preco" mask="separator.2" [thousandSeparator]="'.'" [decimalMarker]="'.'" [dropSpecialCharacters]="false" [showMaskTyped]="false"> <!-- Two-way Binding -->
            </div>
        </div>

        <div class="row">
          <label for="linkCertificado"> Link: </label>
          <div class="input-field col s12">
            <input id="linkCertificado" class="" type="text" name="modelo-card" placeholder="Registrar certificado" [(ngModel)]="curso.link"> <!-- Two-way Binding -->
          </div>
        </div>

        <div class="row center-align">
          <div class="input-field col s6">
            <button (click)="salvarCadastroDoCurso()" type="button" class="waves-effect waves-purple btn-large"><i class="material-icons left">save</i>Salvar</button> <!-- Event Binding -->
          </div>
          <div class="input-field col s6">
            <button (click)="limparFormularioDoCurso()" type="button" class="waves-effect waves-light btn-large"><i class="material-icons left">clear</i>Limpar</button> <!-- Event Binding -->
          </div>
        </div>
      </form>
    </div>

    <div>
      <table class="responsive-table bordered highlight centered black-text">
        <thead>
          <tr>
            <th>Título</th>
            <th>Instituição</th>
            <th>Data de Conclusão</th>
            <th>Carga Horária</th>
            <th>Preço</th>
            <th>Link do Certificado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> {{ curso.titulo }} </td> <!-- Interpolation -->
            <td> {{ curso.instituicao }} </td> <!-- Interpolation -->
            <td> {{ curso.dataConclusao }} </td> <!-- Interpolation -->
            <td> {{ curso.cargaHoraria }} </td> <!-- Interpolation -->
            <td> {{ curso.preco }} </td> <!-- Interpolation -->
            <td> {{ curso.link }} </td> <!-- Interpolation -->
          </tr>
        </tbody>
      </table>
    </div>

  </div>







  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</section>
