<section class="white">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class="container">

    <div class="row">
      <form class="col s12" [formGroup]="formulario"> <!-- Formulário Reativo -->
        <h2 class="center-align"><i class="material-icons">shield</i> {{ chapeus.formulario }} </h2> <!-- Interpolation -->

        <div class="row">
          <label for="titulo"> Titulo: </label>
          <div class="input-field col s12">
            <input id="titulo" type="text" placeholder="Digitar nome" formControlName="titulo"> <!-- Formulário Reativo -->
          </div>
          <div class="mensagem__erro" *ngIf="formulario.get('titulo')?.errors?.['required'] && formulario.get('titulo')?.touched">
            Campo obrigatório!
          </div>
          <div class="mensagem__erro" *ngIf="formulario.get('titulo')?.errors?.['pattern']">
            Não permite campo vazio!
          </div>
          <div class="mensagem__erro" *ngIf="formulario.get('titulo')?.errors?.['maxlength']">
            Limite máximo de 150 caracteres.
          </div>
        </div>

        <div class="row">
          <label for="instituicao"> Instituição: </label>
          <div class="input-field col s12">
            <input id="instituicao" type="text" placeholder="Digitar nome" formControlName="instituicao"> <!-- Formulário Reativo -->
          </div>
          <div class="mensagem__erro" *ngIf="formulario.get('instituicao')?.errors?.['required'] && formulario.get('instituicao')?.touched">
            Campo obrigatório!
          </div>
          <div class="mensagem__erro" *ngIf="formulario.get('instituicao')?.errors?.['pattern']">
            Não permite campo vazio!
          </div>
          <div class="mensagem__erro" *ngIf="formulario.get('instituicao')?.errors?.['maxlength']">
            Limite máximo de 150 caracteres.
          </div>
        </div>

        <div class="row">
          <label for="cargaHoraria"> Carga Horária: </label>
          <div class="input-field col s12">
            <input id="cargaHoraria" type="number" formControlName="cargaHoraria"> <!-- Formulário Reativo -->
          </div>
          <div class="mensagem__erro" *ngIf="formulario.get('cargaHoraria')?.errors && formulario.get('cargaHoraria')?.touched">
            Campo obrigatório!
          </div>
        </div>

        <div class="row">
          <label for="dataConclusao"> Data de Conclusão: </label>
          <div class="input-field col s12">
             <input id="dataConclusao" type="date" formControlName="dataConclusao"> <!-- Formulário Reativo -->
          </div>
          <div class="mensagem__erro" *ngIf="formulario.get('dataConclusao')?.errors && formulario.get('dataConclusao')?.touched">
            Campo obrigatório!
          </div>
        </div>

        <div class="row">
            <label for="preco"> Preço: </label>
            <div class="input-field col s12">
              <input id="preco" type="text" formControlName="preco" mask="separator.2" [decimalMarker]="'.'" [dropSpecialCharacters]="false" [showMaskTyped]="false"> <!-- Formulário Reativo -->
            </div>
        </div>

        <div class="row">
          <label for="linkCertificado"> Link: </label>
          <div class="input-field col s12">
            <input id="linkCertificado" type="text" formControlName="link" placeholder="Registrar certificado"> <!-- Formulário Reativo -->
          </div>
        </div>

        <div class="row center-align">
          <div class="input-field col s6">
            <button (click)="salvarCadastroDoCurso()" [disabled]="!formulario.valid" type="button" class="waves-effect waves-purple btn-large"><i class="material-icons left">save</i>Salvar</button> <!-- Event Binding -->
          </div>
          <div class="input-field col s6">
            <button (click)="limparFormularioDoCurso()" type="button" class="waves-effect waves-light btn-large"><i class="material-icons left">clear</i>Limpar</button> <!-- Event Binding -->
          </div>
        </div>
      </form>
    </div>

    <div>
      <table class="responsive-table bordered highlight centered black-text">
        <thead>
          <tr>
            <th>Título</th>
            <th>Instituição</th>
            <th>Carga Horária</th>
            <th>Data de Conclusão</th>
            <th>Preço</th>
            <th>Link do Certificado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> {{ formulario.get('titulo')?.value }} </td> <!-- Interpolation com formulário reativo -->
            <td> {{ formulario.get('instituicao')?.value }} </td> <!-- Interpolation com formulário reativo -->
            <td> {{ formulario.get('cargaHoraria')?.value }} </td> <!-- Interpolation com formulário reativo -->
            <td> {{ formulario.get('dataConclusao')?.value }} </td> <!-- Interpolation com formulário reativo -->
            <td> {{ formulario.get('preco')?.value }} </td> <!-- Interpolation com formulário reativo -->
            <td> {{ formulario.get('link')?.value }} </td> <!-- Interpolation com formulário reativo -->
          </tr>
        </tbody>
      </table>
    </div>

  </div>


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</section>
