<section class="container criar-cursos ff-inter">

  <header class="header">
    <h2>Cadastrar Cursos</h2>
  </header>

  <main>
    <form class="form">
      <h2> {{ chapeus.formulario }} </h2>
      <label for="titulo"> Titulo:
        <input id="titulo" class="input" type="text" name="modelo-card" placeholder="Digitar nome">
      </label>
      <label for="instituicao"> Instituição:
        <input id="instituicao" class="input" type="text" name="modelo-card" placeholder="Digitar nome">
      </label>
      <label for="horas"> Horas:
        <input id="horas" class="input" type="number" name="modelo-card">
      </label>
      <label for="linkCertificado"> Link:
        <input id="linkCertificado" class="input" type="text" name="modelo-card" placeholder="Colar registro da certificação">
      </label>
      <div>
        <button class="botao">Salvar</button>
        <button class="botao">Limpar</button>
      </div>
    </form>
  </main>

</section>
