<section>

  <header>
    <nav>
      <div class="nav-wrapper container">
        <a href="http://localhost:4200/" class="brand-logo">
          <img src="../../../assets/imagens/logo.jpg" alt="logotipo" class="responsive-img circle z-depth-4 btn-floating pulse">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="http://localhost:4200/cadastrarCurso"> Cadastrar </a></li>
          <li><a href="http://localhost:4200/listarCursos"> Listar </a></li>
        </ul>
      </div>
    </nav>
  </header>

</section>

