<section>

  <header>
    <nav>
      <div class="nav-wrapper container">
        <a routerLink="login" class="brand-logo">
          <img src="../../../assets/imagens/logo.jpg" alt="logotipo" class="responsive-img circle z-depth-4 btn-floating pulse">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a routerLink="cadastrarCurso">Cadastrar</a></li>
          <li><a routerLink="listarCursos">Listar</a></li>
        </ul>
      </div>
    </nav>
  </header>

</section>

