<section class="white">

  <div class="container">

    <div class="row">
      <form action="" class="col s12" [formGroup]="formulario"> <!-- Formulário Reativo -->
        <h2 class="center-align"><i class="material-icons">shield</i> {{ chapeus.formulario }} </h2> <!-- Interpolation -->

        <div class="row">
          <label for="titulo"> Titulo: </label>
          <div class="input-field col s12">
            <input id="titulo" type="text" placeholder="Digitar nome" formControlName="titulo"> <!-- Formulário Reativo -->
          </div>
          <div class="mensagem__erro" *ngIf="formulario.get('titulo')?.errors?.['required'] && formulario.get('titulo')?.touched">
            Campo obrigatório!
          </div>
          <div class="mensagem__erro" *ngIf="formulario.get('titulo')?.errors?.['pattern']">
            Não permite campo vazio!
          </div>
          <div class="mensagem__erro" *ngIf="formulario.get('titulo')?.errors?.['maxlength']">
            Limite máximo de 150 caracteres.
          </div>
        </div>

        <div class="row">
          <label for="instituicao"> Instituição: </label>
          <div class="input-field col s12">
            <input id="instituicao" type="text" placeholder="Digitar nome" formControlName="instituicao"> <!-- Formulário Reativo -->
          </div>
          <div class="mensagem__erro" *ngIf="formulario.get('instituicao')?.errors?.['required'] && formulario.get('instituicao')?.touched">
            Campo obrigatório!
          </div>
          <div class="mensagem__erro" *ngIf="formulario.get('instituicao')?.errors?.['pattern']">
            Não permite campo vazio!
          </div>
          <div class="mensagem__erro" *ngIf="formulario.get('instituicao')?.errors?.['maxlength']">
            Limite máximo de 150 caracteres.
          </div>
        </div>

        <div class="row">
          <label for="cargaHoraria"> Carga Horária: </label>
          <div class="input-field col s12">
              <input id="cargaHoraria" type="number" formControlName="cargaHoraria"> <!-- Formulário Reativo -->
          </div>
          <div class="mensagem__erro" *ngIf="formulario.get('cargaHoraria')?.errors && formulario.get('cargaHoraria')?.touched">
            Campo obrigatório!
          </div>
        </div>

        <div class="row">
          <label for="dataConclusao"> Data de Conclusão: </label>
          <div class="input-field col s12">
            <input id="dataConclusao" type="date" formControlName="dataConclusao"> <!-- Formulário Reativo -->
          </div>
          <div class="mensagem__erro" *ngIf="formulario.get('dataConclusao')?.errors && formulario.get('dataConclusao')?.touched">
            Campo obrigatório!
          </div>
        </div>

        <div class="row">
            <label for="preco"> Preço: </label>
            <div class="input-field col s12">
              <input id="preco" type="text" formControlName="preco" mask="separator.2" [decimalMarker]="'.'" [dropSpecialCharacters]="false" [showMaskTyped]="false"> <!-- Formulário Reativo -->
            </div>
        </div>

        <div class="row">
          <label for="linkCertificado"> Link: </label>
          <div class="input-field col s12">
            <input id="linkCertificado" type="text" formControlName="link" placeholder="Registrar certificado"> <!-- Formulário Reativo -->
          </div>
        </div>

        <div class="row center-align">
          <div class="input-field col s4">
            <button (click)="salvarEdicaoDoCadastroDoCurso()" [disabled]="!formulario.valid" type="button" class="waves-effect waves-purple btn-large"><i class="material-icons left">save</i>Salvar</button> <!-- Event Binding -->
          </div>
          <div class="input-field col s4">
            <button (click)="limparFormularioDoCurso()" type="button" class="waves-effect waves-light btn-large"><i class="material-icons left">clear</i>Limpar</button> <!-- Event Binding -->
          </div>
          <div class="input-field col s4">
            <button (click)="cancelarFormularioDoCurso()" type="button" class="waves-effect waves-light btn-large"><i class="material-icons left">cancel</i>Cancelar</button> <!-- Event Binding -->
          </div>
        </div>
      </form>
    </div>
  </div>

</section>
